<div id="top-questions-container">
    <% if(questions){ %>
        <p>No questions asked from your side</p>    
    <% } %>
    <% for(question of questions){ %>
        <div class="question">
            <!--question -->
            <div class="top-question">
                <div class="top-question-title">
                    <a href="<%= question._id %>"><%= question.title %></a>
                </div>
                <div class="top-question-description">
                    <%= question.description %>
                </div>
            </div>
            <hr>
            <div class="like-container">
                <!--as length is storing the total likes-->
                <div class="like">
                        <a href="/like/toggle/?id=<%= question._id %>&type=Question" class="upvote-button">Like <i class="far fa-thumbs-up"></i></a>       
                   </div>
                <div class="total-upvotes"><span>Likes:</span><%= question.likes.length %></div>       
            </div>
            <div class="createdBy">
                <p><a href="/user/showprofile/?id=<%= question.user.id %>">Created By: <%= question.user.fullname %></a>
                </p>
            </div>
        </div>
        <% } %>

</div>