<div id="profile-container">
    <div id="user-info">
        <div id="name-head">
            <h1>About <%= userdetails.fullname %>
            </h1>
            <!--if user is same then user can't follow himself-->
            <% if(userinfo._id.equals(userdetails._id)==0){ %>
                <% if (isfollowed){ %>
                    <a href="/follow/user/?id=<%= userdetails.id %>"><i class="fa-solid fa-plus"></i> Follow</a>
                    <% }else{ %>
                        <a href="/follow/user/?id=<%= userdetails.id %>"><i class="fa-solid fa-plus"></i> Following</a>
                        <% } %>
                            <% } %>
                            <div>
                                <% if(userinfo._id.equals(userdetails._id)==0){ %>
                                    <a href="#" id="Ask-button" onclick="showchatBox()">Ask <%= userdetails.fullname %></a>
                                    <% } %>
                            </div>
                                <hr>

        </div>

        <div id="info-container">
            <div>
                <p>Email: <%= userdetails.email %>
                </p>
            </div>
            <div>
            <!-- Add about after changing to DB of users -->
            </div>
        </div>
    </div>
    
    <div id="user-comment-container">
        <% for(comment of comments){ %>
            <div class="profile_comment">
               <a href="/question/detail/?id=<%= comment.question._id %>"><%= comment.question.title %></a> 
                    <hr>
                    <%= comment.content %>
            </div>
            <% } %>
                </ul>
    </div>

    <div id="stats-container">
    <div id="name-head">
        <h1>User-stats</h1>
        <hr>
    </div>
    <div id="stats-property-container">
        <div id="stats-property">
            <a href="/question/userquestion/?id=<%= userdetails._id %>">
                <div id="stats-img"><i class="fa-solid fa-circle-question"></i></div>
                <div id="stats-name">Questions</div>
            </a>
        </div>
        <div id="stats-property">
            <a href="#" onclick="showComments()" id="comment">
                <div id="stats-img"><i class="fa-solid fa-comment"></i></div>
                <div id="stats-name">Comments</div>
            </a>
        </div>
    </div>
    <div id="social-container">
        <h4>Follow Me:</h4>
        <div id="social">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-pinterest"></i></a>
            <a href="#"><i class="fa-brands fa-square-google-plus"></i></a>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
        </div>
    </div>
</div>

</div>
<!--  -->


<div id="chat-container">
    <div id="minimize-chat">
        <button onclick="showchatBox()">X</button>
    </div>

    <div id="chats">
        <!-- <div class="from-user-chat">From</div>
        <div class="to-user-chat">To</div> -->
    </div>
    <div id="chat-input">
        <input type="text" id="message-input">
        <input type="submit" value="Submit" id="send-message">
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat-engine.js"></script>
<% if (userdetails){ %>
    <!--if user is signed up then only start the socketsever-->
    <script>
        new ChatEngine('chat-container', '<%= userinfo.email %>', '<%= userinfo._id %>')
    </script>
    <% } %>